:root{
    --mainclr:#239f85;
    --secclr:#ff5d22;
}
*{
    margin:0;
    padding:0;
    outline: none;
    box-sizing: border-box;
    transition: 0.5s;
    text-transform: capitalize;
    text-decoration: none;
}
html{
    font-size: 62.5%; 
    overflow: hidden;
}
.header{
    padding:1.5rem 7%;
    background-color: var(--mainclr);
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed ;
    left:0;
    right:0;
    z-index:1000;
}
.header #logo{
    width:50px;
}
.navbar a{
    color:white;
    font-size: 1.5rem;
    margin-left: 2rem;
    position: relative;
}
.navbar a:after{
    content: '';
    background: var(--secclr);
    height:3px;
    width: 0;
    position: absolute;
    top:100%;
    left:0;
    margin-top: 5px;
    transition: 0.4s;
}
.navbar a:hover:after{
    content: '';
    background: var(--secclr);
    width:100%;
    height:3px;
    position: absolute;
    top:100%;
    left:0;
    margin-top: 5px;
}
.icons div{
    font-size: 2rem;
    margin-right: 1rem;
    color:white;
    display:none;
}
.icons a{
    color:white;
    background: var(--secclr);
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: 0.3s;
}
input{
    background: transparent;
    border: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    color:black;
}
.icons a:hover{
    background: transparent;
    border: 1px solid var(--secclr);
}
section{
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(hospital.jpg) no-repeat;
    width: 100%;
    height:100vh;
    background-size:cover;
    background-repeat: no-repeat; 
    padding: 6%;
    position: relative;
    font-size: 2em;
    
   
}
.content{
    
    max-width: 43.75em;
    width:100%;
    background: white;
    padding:1.5625rem 2rem;
    border-radius: 0.3125rem;
    border-color:orangered ;
}
.Patient_inputs{

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1.25rem 0 0.75rem 0;
}
.data input{
    height:3.5rem;
    width:75%; 
    outline: none;
    border-radius: 0.3rem;
    border:0.0625rem solid black;
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: lighter;
    border-bottom-width: 0.125rem;
    transition: all 0.5s ease;
}
.form_title{
    font-size: 2.5em;
    font-weight: 500;
    position: relative;
}
.data{
    margin-bottom: 1rem;
    width:calc(100% / 2 - 1.25rem);
}
.form_title::before{
    content:'';
    position: absolute;
    left:0;
    bottom:0;
    height: 0.2rem;
    width:100%;
    background:linear-gradient(135deg,blue,rgb(233, 84, 84));
}
.tag{
    display: block;
    font-weight: 400;
    margin-bottom:0.5rem ;
}


.validation{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    margin-top: 3rem;

}
/*.line{
    display: flex;
    justify-content: center;
   
}
hr{
    position: relative;
    width: 50%;

    background:linear-gradient(135deg,blue,rgb(233, 84, 84));
}*/
.validation input[value=Validate]{
    height:2.5rem;
    width:20%;
    outline:none ;
    color:white;
    border:none ;
    margin: 0rem 0rem 0rem 0rem;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius:0.3rem ;
    letter-spacing:0.0625rem ;
    background:linear-gradient(135deg,blue,rgb(233, 84, 84));
}
.validation a{
    height:2.5rem;
    width:20%;
    outline:none ;
    color:white;
    border:none ;
    margin: 0rem 0rem 0rem 0rem;
    font-size: 1.5srem;
    font-weight: 500;
    border-radius:0.3rem ;
    letter-spacing:0.0625rem ;
    background:linear-gradient(135deg,blue,rgb(233, 84, 84))
}
#next{
    color:white;
    position: relative;
    left:40%;
}
.validation input[value=reset]{
    height:2.5rem;
    width:20%;
    outline:none ;
    color:white;
    border:none ;
    margin: 0rem 0rem 0rem 0rem;
    font-size: 1.5srem;
    font-weight: 500;
    border-radius:0.3rem ;
    letter-spacing:0.0625rem ;
    background:linear-gradient(135deg,blue,rgb(233, 84, 84))
}
