:root{
    --mainclr:#239f85;
    --secclr:#ff5d22;
}
*{
    margin:0;
    padding:0;
    outline: none;
    box-sizing: border-box;
    transition: 0.5s;
    text-transform: capitalize;
    text-decoration: none;
}
html{
    font-size: 62.5%; 
    overflow: hidden;
}
.header{
    padding:1.5rem 7%;
    background-color: var(--mainclr);
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed ;
    left:0;
    right:0;
    z-index:1000;
}
.header #logo{
    width:50px;
}
.navbar a{
    color:white;
    font-size: 1.5rem;
    margin-left: 2rem;
    position: relative;
}
.navbar a:after{
    content: '';
    background: var(--secclr);
    height:3px;
    width: 0;
    position: absolute;
    top:100%;
    left:0;
    margin-top: 5px;
    transition: 0.4s;
}
.navbar a:hover:after{
    content: '';
    background: var(--secclr);
    width:100%;
    height:3px;
    position: absolute;
    top:100%;
    left:0;
    margin-top: 5px;
}
.icons div{
    font-size: 2rem;
    margin-right: 1rem;
    color:white;
    display:none;
}
.icons a{
    color:white;
    background: var(--secclr);
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: 0.3s;
}
input{
    background: transparent;
    border: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    color:white;
}
.icons a:hover{
    background: transparent;
    border: 1px solid var(--secclr);
} 
.background_image{
    background: url(doctor.jpg) no-repeat center;
    width: 100%;
    height:100vh;
    background-size:cover;
    background-repeat: no-repeat; 
    padding: 6%;
    position: relative;
}
.background_content{
    position: absolute;
    top:30%;
    left:50%;
    width:50%;
    transform: translate(-80%);
}
.background_content h1{
    color:black;
    font-size: 40px;
    margin-bottom: 20px;
}
.background_content p{
    font-size: 1.5rem;
    margin-bottom: 40px;
    font-weight: bold;
}
.background_content a{
    background: var(--secclr);
    padding: 1.5rem 3rem;
    border-radius: 15px;
    color:white;
    font-size: 1.5rem;
    transition: 0.5s;
}
.background_content a:hover{
    background: transparent;
    border:1px solid var(--secclr);
    color:black;
}
footer{
    width:100%;
    background:var(--mainclr);
    color:#fff;
    padding: 3rem;
    font-size: 1rem;
    line-height: 1.2rem;
    position: absolute;
    bottom: 0;
    left:0;
    height:150px;
}
.row{
    width:85%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:  space-between;
}
.column{
    flex-basis: 25%;
    padding:0.625rem;
}
.link{
    font-size: 1rem;
    color:black;
    margin-top: 0.3rem;
    display:flex;
}
.image{
    width:9rem;
}
footer input[type=button]{
    color:White;
    background-color: transparent;
    width:10rem;
    height:2rem;
    position: relative;
    font-weight: bold;
    border:0.1rem solid #1b9bff;
    left:45%;
    top:2rem;
}
.column h3{
    width:fit-content;
    position: relative;
}
.column p{
    color:orange;
}
.column h4{
    color: orange;
}
.email-id{
    width: fit-content;
    border-bottom: 0.0625rem solid #ccc;
    border-right: 4rem;
}
.social-icons .fab{
    width:2.5rem;
    height:2.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.25rem;
    color:#000;
    background-color: #fff;
    margin-right: 1rem;
    cursor: pointer;
    position: relative;
    left:42.5%;
}
#copyright{
    text-align: center;
    position: relative;
    top: 2.2rem;
}
@media (max-width:767px) {
    html{
        font-size:55%;
    }
    .header{
        padding: 2rem;
    }
    .icons div{
        display: initial;
    }
    .navbar{
        position: absolute;   
        top:100%;
        left:0%;
        width:100%;
        height:100vh;
        background: var(--secclr);
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .navbar a{
        display: block;
        font-size: 3rem;
        font-weight: bolder;
        margin:1rem;
        padding: 1rem;
        color:black;
    }
    .background_content{
        width:100%;
        left:90%;
        top:50%;
        transform: translate(-50%,-50%);
        padding-left: 5rem;
    }
    input{
        color:black;
        font-size: 2rem;
    }
}