            *{
                margin:0;
                padding:0;
                list-style: none;
                text-decoration: none;
            } 
            body {
                background-color:royalblue;
                height: 100%;
                padding:2rem 1rem 2rem 1rem;
                margin:2rem 1rem 2rem 1rem;
            }
            h1{
                color:white;
                font-size:4rem;
                text-align:center;
                position: relative;
                bottom: 4.5rem;
                font-family:"Alliance No.1","Segoe UI",Helvetica,Arial;
            }
        @media  screen and (min-width:0rem) and (max-width:37.5rem) {
            h1{
                font-size:2rem;
            }
        }
            .container{
                display:flex;
                flex-direction: row;
                padding:3rem 1rem 9rem 1rem;
                margin: 3rem 1rem 9rem 1rem;
                justify-content: center;
                align-items: center;
                column-gap: 0.4em;
            }
        @media  screen and (min-width:37.5rem) and (max-width:67.5rem) {
            .container{
                flex-direction: column;
                row-gap: 15rem;
            }
        }
        @media screen and (min-width:0rem) and (max-width:37.5rem) {
            .container{
                flex-direction: column;
                row-gap: 10rem;
            }
            input[type=submit]{
                position: relative;
                top:2rem;
            }
        }
        input[type=submit]{
            color:white;
            background-color: red;
            width:100%;
        }
        input[type=button]{
            color:white;
            background-color: green;
            width:100%
        }
        input[type=email]{
            width:100%;
        }
        @media screen and (min-width:0rem) and (max-width:37.5rem) {
            input[type=email]{
                font-size: 0.5rem; 
        }
    }
         input[type=password]{
            width:100%;
        }   
             .card{
               
                box-sizing: border-box; height:15rem;
                width:20rem;
                box-shadow:  0rem 0.7rem 1rem white, 0.2rem 0.2rem 0.1rem white;
                position: relative;
                border-radius: 0.5rem;
                display: flex;
                align-items: center;
                overflow: visible;
            }
            @media screen and (min-width:0rem) and (max-width:37.5rem) {
                .card{
                    height:10rem;
                    width:7rem;
                    border-radius: 0.32rem;
                }
            }
            .card_top{
                background-color: rgb(0, 183, 255);
                height:15rem;
                width:20rem;
                display: flex;
                flex-direction: row;
                position: relative;
                flex-wrap: wrap;
                justify-content: center;
            }
            @media screen and (min-width:0rem) and (max-width:37.5rem) {
                .card_top{
                    height:10rem;
                    width:7rem;
                }
            }
            .card_top > p{
                 font-size: 2rem;
                 color:white;
                 text-align: center;
                 position: absolute;
                 bottom:2rem;
            } 
            @media screen and (min-width:0rem) and (max-width:37.5rem) {
                .card_top > p{
                    font-size: 1rem;
                    position: relative;
                    top:6rem;
               } 
            }
            i{
                font-size: 5rem;
                color:white;
                position: absolute;
                top:3.125rem;
            }
            @media screen and (min-width:0rem) and (max-width:37.5rem) {
                i{
                    font-size: 2rem;
                }
            }
            .card:hover > .card_top{
                background-color: blue;
            }
          .card_bottom{
              box-sizing: border-box;
              display: flex;
              height:15rem;
              width:20rem;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: center;
              font-size: 2rem;
              position: absolute;
              top: 0rem;
              visibility: hidden;
              opacity: 0;
              padding: 1rem;
              background-color: white; 
              transition: 1s ease-in-out;
               
            }      
            @media screen and (min-width:0rem) and (max-width:37.5rem) {
                .card_bottom{
                    height:10rem;
                    width:7rem;
                    font-size: 1rem;
                  }  
            }
            
            .card:hover > .card_bottom {
                transform: translateY(15rem);
                visibility: visible;
                opacity: 1;
            }
            @media screen and (min-width:0rem) and (max-width:37.5rem) {
                .card:hover > .card_bottom{
                    transform: translateY(10rem);
                }
            }