:root{
    --mainclr:#239f85;
    --secclr:#ff5d22;
}
*{
    margin:0;
    padding:0;
    outline: none;
    box-sizing: border-box;
    transition: 0.5s;
    text-transform: capitalize;
    text-decoration: none;
}
html{
    font-size: 62.5%; 
    overflow: hidden;
}
.header{
    padding:1.5rem 7%;
    background-color: var(--mainclr);
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed ;
    left:0;
    right:0;
    z-index:1000;
}
.header #logo{
    width:50px;
}
.navbar a{
    color:white;
    font-size: 1.5rem;
    margin-left: 2rem;
    position: relative;
}
.navbar a:after{
    content: '';
    background: var(--secclr);
    height:3px;
    width: 0;
    position: absolute;
    top:100%;
    left:0;
    margin-top: 5px;
    transition: 0.4s;
}
.navbar a:hover:after{
    content: '';
    background: var(--secclr);
    width:100%;
    height:3px;
    position: absolute;
    top:100%;
    left:0;
    margin-top: 5px;
}
.icons div{
    font-size: 2rem;
    margin-right: 1rem;
    color:white;
    display:none;
}
.icons a{
    color:white;
    background: var(--secclr);
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: 0.3s;
}
.icons a:hover{
    background: transparent;
    border: 1px solid var(--secclr);
}
section{
    display:flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(hospital.jpg) no-repeat;
    width: 100%;
    height:100vh;
    background-size:cover;
    background-repeat: no-repeat; 
    padding: 6%;
    position: relative;
    top:2em;
    font-size: 2em;
}
.info{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}
.content{
    
    max-width: 43.75em;
    width:100%;
    background: white;
    padding:1.5625rem 2rem;
    border-radius: 0.3125rem;
    border-color:orangered ;
}
.form_title{
    font-size: 2.5em;
    font-weight: 500;
    position: relative;
}
.form_title::before{
    content:'';
    position: absolute;
    left:0;
    bottom:0;
    height: 0.2rem;
    width:100%;
    background:linear-gradient(135deg,blue,rgb(233, 84, 84));
}
.list{
    text-align: center;
    display: flex;
    flex-direction: row;
    column-gap: 0.4em;
    justify-content: center;
}
.list a{
    color: black;
    border: 1rem;
    border-radius: 0.8rem;
    background-color: var(--secclr);
}
