<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="Omar" content="IE-edge">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Background</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="../static/Css/all.css"/>
        <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="header">
            <a href="main.html">Home</a>
            <a href="https://loinc.org/" target="_self">About</a>
            <a href="https://loinc.org/services/" target="_self">Services</a>
            <a href="https://loinc.org/contact/" target="_self">Contact</a>
            <a href="HTML,CSS_ASSIGNMENT.html" target="_self"><input type="button" value="Log In" ></a>
            <a href="Sign_up.html" target="_self"><input type="button" value="Sign Up" ></a>
        </div>
        <div class="main">
            <section id="info">
            <h1>Background</h1>
            <p>The Logical Observation Identifiers, Names, and Codes (LOINC) standard 
                supports the interchange and pooling of clinical care, outcomes 
                management, and research findings, such as laboratory tests or vital signs. 
                LOINC is a global coding system that allows healthcare providers to map 
                (or connect) their local codes to LOINC codes for transmission in clinical 
                communications to payers, regulators, and other providers. Because 
                LOINC codes are based on a six-part name, they are unique not only to the 
                component (e.g., hemoglobin) but also to the specimen (e.g., whole blood) 
                and other elements that constitute a separate result.
                The Regenstrief Institute, with sponsorship from the US National Library of 
                Medicine, maintains and distributes the LOINC standard for free (NLM). 
                The American Clinical Laboratory Association and the College of American 
                Pathologists have both supported LOINC. It's also part of the National 
                Library of Medicine's Unified Medical Language System (UMLS), and it's 
                been adopted by the Centers for Disease Control and Prevention (CDC), 
                the Department of Defense (DoD), and the Department of Veterans Affairs.
                The Regenstrief LOINC Mapping Assistant (RELMA) is a Windows-based 
                tool that helps businesses translate their local institution codes to the 
                LOINC standard. The software may be downloaded for free from the 
                LOINC website.
                Workshops on LOINC and how to utilize the RELMA tool are frequently 
                presented at the Regenstrief Institute's semiannual public meetings. To find 
                out when and where the next meeting will take place, go to the LOINC 
                website.
            </p>
            </section>
        </div>
        <input type="checkbox" id="opensidebafrmenu">
        <label for="opensidebafrmenu" class="sidebaricon">
            <div class="spinner top"></div>
            <div class="spinner middle"></div>
            <div class="spinner bottom"></div>
        </label>
        <div id="sidbarmenu">
            <ul class="menu">
                <li><a href="#info">Background</a></li>
                <li><a href="histoy.html" target="_self">History</a></li>
                <li><a href="Origins_of_LOINC.html" target="_self">Origins</a></li>
                <li><a href="uses.html" target="_self">Uses</a></li>
                <li><a href="Loinc_Growth.html" target="_self">Loinc growth</a></li>
                <li><a href="International_adoption.html" target="_self">International Adoption</a></li>
            </ul>
        </div>
    </body>
</html>
